* {
  margin: 0;
  padding: 0;
}
#container {
  width: 80%;
  height: 80%;
  margin: auto;
  text-align: center;
  margin-top: 20%;
}
#animated {
  text-align: center;
}
#animated::after {
  content: "|";
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
